# Curso Digital One

Dados do Titanic

Extraido do site

https://www.kaggle.com/

Necessário importar os pacotes abaixo

In [6]:
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split

Lendo o banco de dados e salvando na variável dados

In [14]:
dados = pd.read_csv('train.csv')

Monstrar os dados

In [15]:
dados.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

Verificando os dados do arquivo importado

In [16]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

Podemos verificar que existe colunas sem dados, como Age e Cabin

Contar o número de valores ausente, retorna o número de valores ausente de cada coluna

In [17]:
dados.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

Temos 177 campos em Age sem preencher e 687 em Cabin

Substituir os valores zerados por 0

In [18]:
dados.fillna(0, inplace = True)

Verificando a substituição

In [19]:
dados.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       0
dtype: int64

Excluir as colunas que não serão utilizadas para analise

In [20]:
dados = dados.drop(['Name','Ticket','Cabin','Embarked'], axis= 1)

Verificando a exclução

In [21]:
dados.head()

   PassengerId  Survived  Pclass     Sex   Age  SibSp  Parch     Fare
0            1         0       3    male  22.0      1      0   7.2500
1            2         1       1  female  38.0      1      0  71.2833
2            3         1       3  female  26.0      0      0   7.9250
3            4         1       1  female  35.0      1      0  53.1000
4            5         0       3    male  35.0      0      0   8.0500

Traz a coluna identificada como PassengerId para chave primaria (1ª coluna) e remoneia coluna Survived para target

In [22]:
dados = dados.set_index(['PassengerId'])
dados = dados.rename(columns= {'Survived': 'target'}, inplace = False)

Verificando o resultado

In [23]:
dados.head()

             target  Pclass     Sex   Age  SibSp  Parch     Fare
PassengerId
1                 0       3    male  22.0      1      0   7.2500
2                 1       1  female  38.0      1      0  71.2833
3                 1       3  female  26.0      0      0   7.9250
4                 1       1  female  35.0      1      0  53.1000
5                 0       3    male  35.0      0      0   8.0500

Descritiva simples dos campos numericos

In [24]:
dados.describe()

           target      Pclass         Age       SibSp       Parch        Fare
count  891.000000  891.000000  891.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   23.799293    0.523008    0.381594   32.204208
std      0.486592    0.836071   17.596074    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.000000    0.000000    0.000000    0.000000
25%      0.000000    2.000000    6.000000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   24.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   35.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

Descritiva simples dos campos alfanumérico

In [25]:
dados.describe(include=['O'])

         Sex
count    891
unique     2
top     male
freq     577

Analisando os dados acima, temos 891 registro, 2 tipos de sexo e o que mais aparece é 'masculino' na frequencia de 577

# Transfornação de dados

In [26]:
dados.describe(include='all')

,target,Pclass,Sex,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891,891.000000,891.000000,891.000000,891.000000
unique,NaN,NaN,2,NaN,NaN,NaN,NaN
top,NaN,NaN,male,NaN,NaN,NaN,NaN
freq,NaN,NaN,577,NaN,NaN,NaN,NaN
mean,0.383838,2.308642,NaN,23.799293,0.523008,0.381594,32.204208
std,0.486592,0.836071,NaN,17.596074,1.102743,0.806057,49.693429
min,0.000000,1.000000,NaN,0.000000,0.000000,0.000000,0.000000
25%,0.000000,2.000000,NaN,6.000000,0.000000,0.000000,7.910400
50%,0.000000,3.000000,NaN,24.000000,0.000000,0.000000,14.454200
75%,1.000000,3.000000,NaN,35.000000,1.000000,0.000000,31.000000
max,1.000000,3.000000,NaN,80.000000,8.000000,6.000000,512.329200

Verificando os dados acima a coluna Pclass só temos 3 classi

Vamos trocar as string no caso sexo por numeros (0 e 1) e criar 3 novas colunas para classi

Os sexo 0 = masculino e 1 = feminino
As classi colocamos em colunas separadas com 0 = não e 1 = sim

In [27]:
dados['Sex_F'] = np.where(dados['Sex'] == 'female', 1,0)
dados['Pclass_1'] = np.where(dados['Pclass'] == 1, 1, 0)
dados['Pclass_2'] = np.where(dados['Pclass'] == 2, 1, 0)
dados['Pclass_3'] = np.where(dados['Pclass'] == 3, 1, 0)

Verificando o resultado

In [28]:
dados.head()

,target,Pclass,Sex,Age,SibSp,Parch,Fare,Sex_F,Pclass_1,Pclass_2,Pclass_3
PassengerId,,,,,,,,,,,
1,0,3,male,22.0,1,0,7.2500,0,0,0,1
2,1,1,female,38.0,1,0,71.2833,1,1,0,0
3,1,3,female,26.0,0,0,7.9250,1,0,0,1
4,1,1,female,35.0,1,0,53.1000,1,1,0,0
5,0,3,male,35.0,0,0,8.0500,0,0,0,1

Removendo as colunas que não usaremos como Sex e  Pclass

In [29]:
dados = dados.drop(['Pclass','Sex'], axis= 1)

Verificando o resultado

In [30]:
dados.head()

,target,Age,SibSp,Parch,Fare,Sex_F,Pclass_1,Pclass_2,Pclass_3
PassengerId,,,,,,,,,
1,0,22.0,1,0,7.2500,0,0,0,1
2,1,38.0,1,0,71.2833,1,1,0,0
3,1,26.0,0,0,7.9250,1,0,0,1
4,1,35.0,1,0,53.1000,1,1,0,0
5,0,35.0,0,0,8.0500,0,0,0,1

# Criando uma Amostragem / Algoritmo

Dividindo os dados em um conjunto de treinamento (70%) e um conjunto de teste (30%).

In [31]:
x_train, x_test, y_train, y_test = train_test_split(dados.drop(['target'], axis= 1),
                                                    dados['target'],
                                                    test_size = 0.3,
                                                    random_state = 1234)
[{'treino': x_train.shape}, {'teste': x_test.shape}]

[{'treino': (623, 8)}, {'teste': (268, 8)}]

Treinando 623 linhas e 8 colunas e testanto 268 linhas e 8 colunas

# Modelo / Algoritmo

Usando um modelo de floresta aleatória
RandomForestClassifier +

n_estimators - Quanto mais estimadores você fornecer, melhor será. 500 ou 1000 é geralmente suficiente.

max_features - vale a pena explorar por muitos valores diferentes. Pode ter um grande impacto no comportamento do RF porque decide quantos recursos cada árvore no RF considera em cada divisão.

criterion - pode ter um pequeno impacto, mas geralmente o padrão é bom. Se você tiver tempo, experimente.

In [32]:
rndforest = RandomForestClassifier(n_estimators=1000,
                                   criterion= 'gini',
                                   max_depth = 5)
rndforest.fit(x_train, y_train)

RandomForestClassifier(max_depth=5, n_estimators=1000)

Foi passado somente 3 criterios o restante utilizamos o padrão do Forest. Abaixo como ficou

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=5, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=1000,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [ ]:
Calibrar um classifier é constituído por um encaixe regressor (called a calibrator) que mapeia a saída do classificador 
(como determinado por decision_function or predict_proba) para uma probabilidade calibrado no intervalo [0, 1]. 
Denotando a saída do classificador para uma determinada amostra por f_i, o calibrador tenta prever p(y_i = 1 | f_i).

As amostras usadas para ajustar o calibrador não devem ser as mesmas usadas para ajustar o classifier, 
pois isso introduziria viés. Isso ocorre porque o desempenho do classifier em seus dados de treinamento seria melhor 
do que em dados novos. Usar a saída do classifier de dados de treinamento para ajustar o calibrador resultaria em um 
calibrador enviesado que mapeia probabilidades mais próximas de 0 e 1 do que deveria.

probabilidade = rndforest.predict_proba(dados.drop('target', axis= 1))[:,1]
classificacao = rndforest.predict(dados.drop('target', axis= 1))

Inserindo a coluna probabilidade e classificacao no tabela de dados

In [34]:
dados['probabilidade'] = probabilidade
dados['classificacao'] = classificacao

Verificando o resultado

In [35]:
dados.head()

,target,Age,SibSp,Parch,Fare,Sex_F,Pclass_1,Pclass_2,Pclass_3,probabilidade,classificacao
PassengerId,,,,,,,,,,,
1,0,22.0,1,0,7.2500,0,0,0,1,0.121079,0
2,1,38.0,1,0,71.2833,1,1,0,0,0.937702,1
3,1,26.0,0,0,7.9250,1,0,0,1,0.438994,0
4,1,35.0,1,0,53.1000,1,1,0,0,0.922594,1
5,0,35.0,0,0,8.0500,0,0,0,1,0.138420,0

# Resultado

As colunas inseridas mostra que a probabilidade, quanto menor o valor, menor a chance de sobreviver, a classificação coloca 0 = possível morte e 1 = possível sobrevivencia